.form-input-container {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0px 12px 0px 12px;
  border: 1.2px solid #d3d8dc;
  gap: 6px;
}

.form-input {
  flex-grow: 1;
  height: 95%;
  border: none;
}

.form-input:focus {
  outline: none;
}

.form-input-toggle {
  cursor: pointer;
}

.form-input-error {
  border: 1.2px solid #ff0000;
}
